body{
    background-color: black;
    color: white;
}
.container{
    margin: 10% 30%;
    display: flex;
    text-align: center;
    transform: scale(1.5);
}
.tim{
    flex:2;
}
.btn{
    text-align: center;
}
button{
    padding: 1em 5em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    transform: scale(1.5);
    font-size: large;
}
button:hover{
    border: 5px solid rgb(0, 153, 255);
    transform: scale(1.7);
}
h1{
    font-size: 3em;
}

@media screen and (max-width: 480px) {
    body{
        margin: 0;
        transform: scale(0.85);
    }
    h1{
        margin: 0.5em;
    }
    .container{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: scale(1);
    }
    .btn{
        text-align: center;
    }
    button{
        padding: 1em 5em;
        background-color: rgb(255, 255, 255);
        border-radius: 1em;
        transform: scale(1);
    }
    button:hover{
        border: 5px solid rgb(0, 153, 255);
        transform: scale(1);
    }
}